.MainContent {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-style: dashed;
    margin: 0;
}

.Headshot {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hello {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 50px;
}

.Student {
    display: flex;
    align-content: flex-end;
    font-size: 50px
}