.NavBar {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    border-style: dashed;
    margin: 0;
}

.MainContent {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-style: dashed;
    margin: 0;
}